<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html>
<head>
<div th:replace="/console/layout :: head('管理员列表','','')"></div>
<script th:src="@{/assets/js/jquery.bootgrid.js}"></script>
</head>
<body>
	<div th:replace="/console/layout :: header"></div>

	<div th:replace="/console/layout :: sidebar('member_admin')"></div>

	<div id="page_content">
		<div id="page_content_inner">

			<ul class="uk-breadcrumb">
				<li><a href="javascript:;">人员管理</a></li>
				<li><span>管理员列表</span></li>
			</ul>

			<div class="uk-margin-small">
				<div class="uk-button-group">
					<a th:href="@{/console/admin/add}" class="uk-button uk-button-primary uk-button-small">添加</a> <a id="delete-button"
						class="uk-button uk-button-danger uk-button-small">删除</a> <a class="uk-button uk-button-secondary uk-button-small"
						id="refresh-button">刷新</a>
				</div>
			</div>

			<form id="search-form" class="form-search">
				<select class="uk-select">
					<option> -- 无 -- </option>
					<option value="name">姓名</option>
					<option value="username">账号</option>
				</select>
				<div>
					<div class="uk-search uk-search-default">
						<a href="javascript:;" class="uk-search-icon-flip" uk-search-icon></a> <input class="uk-search-input"
							type="search" placeholder="搜索">
					</div>
				</div>
			</form>

			<div class="uk-overflow-auto">
				<table id="main_table" class="uk-table uk-table-middle uk-table-small uk-table-divider uk-table-condensed">
					<thead>
						<tr>
							<th data-column-id="id" data-header-css-class="uk-width-1-10" data-type="numeric" data-identifier="true"
								data-visible="false">ID</th>
							<th data-column-id="name">姓名</th>
							<th data-column-id="username">账号</th>
							<th data-column-id="createdDate" data-converter="datetime" data-css-class="datetime-column">创建时间</th>
							<th data-column-id="lastModifiedDate" data-converter="datetime" data-css-class="datetime-column">最后修改时间</th>
							<th data-formatter="commands" data-sortable="false" data-css-class="command-column">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="/console/layout :: footer"></div>

	<script type="text/javascript" th:inline="javascript">
		var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";
	</script>
	<script type="text/javascript">
		$(function() {
			var $searchForm = $("#search-form");
			var $table = $("#main_table");
			$table.bootgrid({
				url : base + "/console/admin/page",
				post : function() {
					var property = $searchForm.find(".uk-select").val();
					if (property && property != "") {
						var searchValue = $searchForm.find(".uk-search-input").val();
						if (searchValue && searchValue != "") {
							var ret = {};
							ret[property] = searchValue;
							return ret;
						}
					}
					return null;
				},
				formatters : {
					"commands" : function(column, row) {
						var link_edit = "<li><a uk-icon=\"icon: file-edit\" href=\""+base+"/console/admin/edit/"+row.id+"\"></a></li>";
						var link_delete = "<li><a uk-icon=\"icon: trash\" class=\"command-delete\" href=\"javascript:;\"></a></li>";
						return "<ul data-row-id=\""+row.id+"\" class=\"uk-iconnav\">" + link_edit + link_delete + "</ul>";
					}
				}
			});
			$table.on("loaded.rs.jquery.bootgrid", function() {
				$table.find(".command-delete").on("click", function(e) {
					var entity_id = $(this).closest("ul").data("row-id");

					UIkit.modal.confirm("确定要删除吗？").then(function() {
						$.post(base + "/console/admin/delete", {
							ids : [ entity_id ]
						}, function(resp) {
							if (resp.success) {
								UIkit.notification("操作成功");
								$table.bootgrid("reload");
							} else {
								UIkit.notification(resp.msg);
							}
						}, "json");
					});

				});
			});
			$("#delete-button").on("click", function() {
				var selectedRows = $table.bootgrid("getSelectedRows");
				if (selectedRows && selectedRows.length > 0) {
					UIkit.modal.confirm("确定要删除吗？").then(function() {
						$.post(base + "/console/admin/delete", {
							ids : selectedRows
						}, function(resp) {
							if (resp.success) {
								UIkit.notification("操作成功");
								$table.bootgrid("reload");
							} else {
								UIkit.notification(resp.msg);
							}
						}, "json");
					});
				} else {
					UIkit.notification("请至少选择一条记录");
				}
			});
			$("#refresh-button, .uk-search-icon-flip").on("click", function() {
				$table.bootgrid("reload");
			});
		});
	</script>
</body>
</html>
